body {
  background-color: rgb(51 65 85);
}

.homepage {
  background-color: rgb(51 65 85);
  height: 100%;
}

.postpage {
  background-color: rgb(51 65 85);
  padding: 50px 0;
  height: 100%;
}

.addpostpage {
  background-color: rgb(51 65 85);
  padding: 50px 0;
  height: 100%;
}